<div id="wrapper">
    <ng-include src="'./partials/admin/sidebar.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item active"><span>Depoimentos</span></li>
                </ol>
            </simple-navbar>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div ng-if="notification" role="alert" class="alert alert-dismissible shadow-sm alert-warning">
                            <div class="alert-text">
                                <p ng-bind="notification.text"></p>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Todos os depoimentos <small>({{ depoiments.length }})</small></h1>
                                    <a href="/admin/depoimentos/novo" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
                                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                        <span class="text">Novo</span>
                                    </a>
                                </div>
                                <hr>
                                <table ng-hide="depoiments.length == 0" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Criado em</th>
                                            <th>Enviado por</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center justify-content-between" ng-repeat="depo in depoiments | orderBy:depo.depoimentWho:true">
                                            <td>
                                                {{ ::depo.createdAt | date:"dd MMM yy" }}
                                            </td>
                                            <td class="text-center">
                                            {{ ::depo.depoimentWho }}
                                            </td>
                                            <td class="options justify-content-end">
                                                <a href="/admin/depoimentos/editar/{{::depo.depoimentId}}" role="button" alt="Editar" class="btn btn-sm btn-warning shadow-sm mr-2" 
                                                    data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                    <i class="fas fa-edit fa-sm fa-fw text-grey-400"></i>
                                                </a>
                                                <a href="" ng-click="selectDepoiment(depo)" role="button" alt="Excluir" class="btn btn-sm btn-danger shadow-sm mr-2" 
                                                data-toggle="modal" data-target="#logoutModal" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                                    <i class="fas fa-trash fa-sm fa-fw text-grey-400"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span ng-show="depoiments.length == 0"> Não há depoimentos no seu sistema! <a href="/admin/depoimentos/novo">Poste um depoimento agora</a>. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>