<div id="wrapper">
    <ng-include src="'./partials/admin/sidebar.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item"><a href="/admin/depoimentos">Depoimentos</a></li>
                    <li class="breadcrumb-item active"><span> {{ depoiment.depoimentId ? 'Editar' : 'Novo' }} depoimento </span></li>
                </ol>
            </simple-navbar>
            <div class="container">
                <form name="depoimentsForm">
                    <div class="row">
                        <div class="col-8">
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="depoimentTitle">Nome do participante</label>
                                                    <input type="text" id="depoimentTitle" name="depoimentWho" ng-model="depoiment.depoimentWho" class="form-control depoiment-title" placeholder="Digite o nome do(s) participante(s)">
                                                </div>
                                                <div class="form-group">
                                                    <label for="depoimentContent">Depoimento</label>
                                                    <div id="depoimentContent" simditor ng-model="depoiment.depoimentContent" placeholder="Digite seu conteúdo..."></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a href="/admin/depoimentos" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2">
                                                    <i class="fas fa-times fa-sm text-white-50 mr-2"></i> Cancelar 
                                                </a>
                                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveDepoiment(depoiment)">
                                                    <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group justify-content-center">
                                                    <label>Imagem de exibição</label>
                                                    <label for="depoimentImg" class="upload-thumbnail" ng-show="previewImage != null">
                                                        <img ng-src="{{ previewImage }}" ng-show="previewImage != null" alt="Depoimento de {{ depoiment.depoimentWho}}" class="img-fluid"/>            
                                                    </label>
                                                    <div class="form-group inputFile">
                                                        <label for="depoimentImg" class="btn btn-sm btn-primary btn-block shadow-sm">
                                                            <i class="fas fa-upload mr-2"></i>
                                                            {{ previewImage ? 'Alterar' : 'Escolher' }} imagem
                                                        </label>
                                                        <input type="file" file-model="file" class="form-control" id="depoimentImg" onchange="angular.element(this).scope().selectFile(event)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>
