

    <simple-navbar>
        <ol class="breadcrumb m-0 align-items-end">
            <li class="breadcrumb-item"><a class="mt-auto" href="/admin">Painel</a></li>
            <li class="breadcrumb-item"><a href="/admin/agenda">Agenda</a></li>
            <li class="breadcrumb-item active"><span> Quem somos </span></li>
        </ol>
    </simple-navbar>
    <div class="container">
        <form name="staticsForm">
            <div class="row">
                <div class="col-8">
                    <div class="card shadow-sm mb-4 py-3">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="staticTitle">Título do statico</label>
                                            <input type="text" id="staticTitle" name="staticTitle" ng-model="static.staticTitle" class="form-control static-title" placeholder="Escolha um título para este statico">
                                        </div>
                                        <div class="form-group">
                                            <label for="staticContent">Descrição</label>
                                            <div id="staticContent" simditor ng-model="historia" placeholder="Digite seu conteúdo..."></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a href="/admin/agenda" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2">
                                            <i class="fas fa-times fa-sm text-white-50 mr-2"></i> Cancelar 
                                        </a>
                                        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveStatic(static)">
                                            <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    
                    <div class="card shadow-sm mb-4 py-3">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="staticDate">Data do statico</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </div>
                                                </div>
                                                <input class="form-control" type="text" datepicker="" dp-format="d MM yyyy" ng-model="static.staticDate" />
                                            </div>
                                        </div>
                                        <div class="form-group justify-content-center">
                                            <label>Imagem de exibição</label>
                                            <label for="staticImg" class="upload-thumbnail" ng-show="previewImage != null">
                                                <img ng-src="{{ previewImage }}" ng-show="previewImage != null" alt="{{ static.staticTitle }}" class="img-fluid"/>            
                                            </label>
                                            <div class="form-group inputFile">
                                                <label for="staticImg" class="btn btn-sm btn-primary btn-block shadow-sm">
                                                    <i class="fas fa-upload mr-2"></i>
                                                    {{ previewImage ? 'Alterar' : 'Escolher' }} imagem
                                                </label>
                                                <input type="file" file-model="file" class="form-control" id="staticImg" onchange="angular.element(this).scope().selectFile(static)"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm mb-4 py-3">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="info" ng-show="static.staticId">
                                            <label>Já foi visualizado: </label>
                                            <span>{{ static.staticViews }} vezes</span>
                                            <br>
                                            <label>Criado em: </label>
                                            <span>{{ static.createdAt | date:'dd MMM yy'}}</span>
                                            <hr>
                                        </p>
                                        <div class="form-group">
                                            <label class="switch">
                                                <input type="checkbox" ng-model="static.staticStatus" class="primary">
                                                <span class="slider round"></span>
                                            </label>
                                            <label class="ml-3" style="position: absolute;">Mostrar no site</label>

                                            <a href="/staticos/{{ ::static.staticId }}/{{::static.staticTitle | slugify}}" ng-show="static.staticId" ng-class="{'disabled': !static.staticStatus}" class="btn btn-sm btn-primary btn-block mt-2">
                                                <i class="fas fa-external-link-alt fa-sm fa-fw text-grey-400 mr-2"></i> Visualizar no site
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
