<div id="wrapper">
    <ng-include src="'./partials/admin/sidebar.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item active"><span>Agenda</span></li>
                </ol>
            </simple-navbar>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div ng-if="notification" role="alert" class="alert alert-dismissible shadow-sm alert-warning">
                            <div class="alert-text">
                                <p ng-bind="notification.text"></p>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Todos os eventos <small>({{ events.length }})</small></h1>
                                    <a href="/admin/agenda/novo" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
                                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                        <span class="text">Criar</span>
                                    </a>
                                </div>
                                <hr>
                                <table ng-hide="events.length == 0" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Evento</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center justify-content-between" ng-repeat="event in events | orderBy:event.eventTitle:true track by event.eventId" ng-click="viewEvent(event)">
                                            <td>
                                                <span>{{ event.eventDateStart | date: "dd MMM yyyy" }}</span>
                                            </td>
                                            <td style="max-width: 460px;">
                                                <a href="/agenda/{{::event.eventId}}/{{::event.eventTitle}}">{{::event.eventTitle}}</a>
                                            </td>
                                            <td>
                                                <span ng-class="event.eventStatus ? 'text-success' : 'text-danger'">{{event.eventStatus ? 'Disponível' : 'Oculta'}}</span>
                                            </td>
                                            <td class="options justify-content-end">
                                                <a href="/admin/agenda/editar/{{::event.eventId}}" role="button" alt="Editar" class="btn btn-sm btn-warning shadow-sm mr-2" 
                                                    data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                    <i class="fas fa-edit fa-sm fa-fw text-grey-400"></i>
                                                </a>
                                                <a href="" ng-click="selectEvent(event)" role="button" alt="Excluir" class="btn btn-sm btn-danger shadow-sm mr-2" 
                                                data-toggle="modal" data-target="#logoutModal" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                                    <i class="fas fa-trash fa-sm fa-fw text-grey-400"></i>
                                                </a>
                                                <a href="/agenda/{{ ::event.eventId }}/{{::event.eventTitle | slugify}}"  ng-show="event.eventStatus" role="button" alt="Ver evento" class="btn btn-sm btn-primary shadow-sm mr-2" data-toggle="tooltip" data-placement="top" title="Visualizar no site">
                                                    <i class="fas fa-external-link-alt fa-sm fa-fw text-grey-400"></i> 
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span ng-show="events.length == 0"> Não há eventos no seu sistema! <a href="/admin/agenda/novo">Crie um evento agora</a>. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar esta evento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">    
                <div class="row">
                    <p>Tem certeza que deseja deletar permanentemente esta evento?</p>
                </div>
                <div class="row">
                    <div class="col-2">
                        <img ng-src="http://www.positivetreinamentos.com.br/{{selectedEvent.eventImg}}" alt="{{selectedEvent.eventTitle}}" style="max-width: 100%;">
                    </div>
                    <div class="col-10">
                        <p><b>Título:</b> {{selectedEvent.eventTitle}}</p>
                        <p><b>Criado em:</b> {{selectedEvent.createdAt | date:"dd MMM yy hh:mm"}}</p>
                        <p><b>Acessada:</b> {{selectedEvent.eventViews}} vezes</p>
                    </div>
                </div>
                <div class="row pt-5">
                    <p ng-show="selectedEvent.eventStatus">Você não prefere apenas ocultar este evento? Assim, ele não será mais listado no site, mas você e os outros administradores ainda terão acesso a ele, e poderão ativá-lo depois.</p>
                    <p ng-hide="selectedEvent.eventStatus">Este evento já não está sendo listado no site, portanto só você e os outros administradores podem vê-lo. Ainda assim deseja excluí-lo permanentemente?</p>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button class="btn btn-link text-danger" type="button" data-dismiss="modal" ng-click="deleteEvent(selectedEvent)">
                <i class="fas fa-trash mr-2"></i> Deletar permanentemente
            </button>
            <div>
                <button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary shadow-sm" ng-show="selectedEvent.eventStatus" data-dismiss="modal" ng-click="hideEvent(selectedEvent)"><i class="fas fa-eye-slash"></i> Ocultar</a>
            </div>
        </div>
    </div>
    </div>
</div>
