<div id="wrapper">
    <ng-include src="'./partials/admin/sidebar.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item"><a href="/admin/agenda">Agenda</a></li>
                    <li class="breadcrumb-item active"><span> {{ event.eventId ? 'Editar' : 'Novo' }} evento </span></li>
                </ol>
            </simple-navbar>
            <div class="container">
                <form name="eventsForm">
                    <div class="row">
                        <div class="col-8">
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="eventTitle">Título do evento</label>
                                                    <input type="text" id="eventTitle" name="eventTitle" ng-model="event.eventTitle" class="form-control event-title" placeholder="Escolha um título para este evento">
                                                </div>
                                                <div class="form-group">
                                                    <label for="eventContent">Descrição</label>
                                                    <div id="eventContent" simditor ng-model="event.eventContent" placeholder="Digite seu conteúdo..."></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a href="/admin/agenda" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2">
                                                    <i class="fas fa-times fa-sm text-white-50 mr-2"></i> Cancelar 
                                                </a>
                                                <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveEvent(event)">
                                                    <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="eventDate">Data <span ng-show="moreOneDay">inicial</span> do evento: </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="far fa-calendar-alt"></i>
                                                            </div>
                                                        </div>
                                                        <input id="eventDate" class="form-control" type="text" datepicker="" dp-format="d mm yyyy" ng-model="event.eventDateStart" />
                                                    </div>
                                                    <div class="mt-3" ng-show="moreOneDay">
                                                        <label for="eventDate">E encerra em:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="far fa-calendar-alt"></i>
                                                                </div>
                                                            </div>
                                                            <input id="eventDate" class="form-control" type="text" datepicker="" dp-format="d mm yyyy" ng-model="event.eventDateEnd" />
                                                        </div>
                                                    </div>
                                                    <div class="form-check mt-2">
                                                        <input class="form-check-input" type="checkbox" ng-model="moreOneDay" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">Dura mais de um dia?</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group justify-content-center">
                                                    <label>Imagem de exibição</label>
                                                    <label for="eventImg" class="upload-thumbnail" ng-show="previewImage != null">
                                                        <img ng-src="{{ previewImage }}" ng-show="previewImage != null" alt="{{ event.eventTitle }}" class="img-fluid"/>            
                                                    </label>
                                                    <div class="form-group inputFile">
                                                        <label for="eventImg" class="btn btn-sm btn-primary btn-block shadow-sm">
                                                            <i class="fas fa-upload mr-2"></i>
                                                            {{ previewImage ? 'Alterar' : 'Escolher' }} imagem
                                                        </label>
                                                        <input type="file" file-model="file" class="form-control" id="eventImg" onchange="angular.element(this).scope().selectFile(event)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-sm mb-4 py-3">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="info" ng-show="event.eventId">
                                                    <label>Já foi visualizado: </label>
                                                    <span>{{ event.eventViews }} vezes</span>
                                                    <br>
                                                    <label>Criado em: </label>
                                                    <span>{{ event.createdAt | date:'dd MMM yy'}}</span>
                                                    <hr>
                                                </p>
                                                <div class="form-group">
                                                    <label class="switch">
                                                        <input type="checkbox" ng-model="event.eventStatus" class="primary">
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <label class="ml-3" style="position: absolute;">Mostrar no site</label>

                                                    <a href="/eventos/{{ ::event.eventId }}/{{::event.eventTitle | slugify}}" ng-show="event.eventId" ng-class="{'disabled': !event.eventStatus}" class="btn btn-sm btn-primary btn-block mt-2">
                                                        <i class="fas fa-external-link-alt fa-sm fa-fw text-grey-400 mr-2"></i> Visualizar no site
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>

