<div id="wrapper">
    <ng-include src="'./partials/admin/sidebar.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item active"><span>Seções</span></li>
                </ol>
            </simple-navbar>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div ng-if="notification" role="alert" class="alert alert-dismissible shadow-sm alert-warning">
                            <div class="alert-text">
                                <p ng-bind="notification.text"></p>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800 text-center">Gerenciar seções</h1>
                                </div>
                                <table ng-hide="events.length == 0" class="table table-hover">
                                    <tbody>
                                        <tr class="align-items-center justify-content-between">
                                            <td><a href="" ng-click="select(1)">Nossa história</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="" ng-click="select(2)">Quem somos</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="" ng-click="select(3)">Disciplina Positiva</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8" ng-show="selected === 1">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Nossa história</h1>
                                    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveSection(ourStory)">
                                        <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                    </a>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div id="our-story" simditor ng-model="ourStory.sectionContent" placeholder="Digite seu conteúdo..."></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4" ng-show="selected === 2">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Rafael Barbosa</h1>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="grad in graduations.rafael | orderBy:grad.updatedAt">
                                                    <td>
                                                        <span class="font-weight-bold" ng-hide="grad.selected">{{ grad.graduationContent }}</span>
                                                        <input class="form-control" ng-show="grad.selected" ng-model="grad.graduationContent" />
                                                    </td>
                                                    <td class="align-items-center" ng-hide="grad.selected">
                                                        <label for="select{{grad.graduationId}}" class="text-warning"><i class="fas fa-edit"></i></label>
                                                        <input id="select{{grad.graduationId}}" class="d-none" type="checkbox" ng-model="grad.selected"/>
                                                    </td>
                                                    <td colspan="2" class="align-items-center" ng-show="grad.selected">                                                        
                                                        <label ng-show="grad.selected" class="btn btn-sm btn-block btn-success mt-1" for="select{{grad.graduationId}}">
                                                            <i class="fas fa-check"></i>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" ng-model="newGradRafael.graduationContent" />
                                                    </td>
                                                    <td colspan="2" class="align-items-center">
                                                        <button type="button" class="btn btn-sm btn-block btn-primary mt-1" ng-click="addGraduation('rafael', newGradRafael)">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveGrad(graduations)">
                                            <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4" ng-show="selected === 2">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Patrícia Carvalho</h1>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="grad in graduations.patricia | orderBy:grad.updatedAt">
                                                    <td>
                                                        <span class="font-weight-bold" ng-hide="grad.selected">{{ grad.graduationContent }}</span>
                                                        <input class="form-control" ng-show="grad.selected" ng-model="grad.graduationContent" />
                                                    </td>
                                                    <td class="align-items-center" ng-hide="grad.selected">
                                                        <label for="select{{grad.graduationId}}" class="text-warning"><i class="fas fa-edit"></i></label>
                                                        <input id="select{{grad.graduationId}}" class="d-none" type="checkbox" ng-model="grad.selected"/>
                                                    </td>
                                                    <td colspan="2" class="align-items-center" ng-show="grad.selected">                                                        
                                                        <label ng-show="grad.selected" class="btn btn-sm btn-block btn-success mt-1" for="select{{grad.graduationId}}">
                                                            <i class="fas fa-check"></i>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" ng-model="newGradPatricia.graduationContent" />
                                                    </td>
                                                    <td colspan="2" class="align-items-center">
                                                        <button type="button" class="btn btn-sm btn-block btn-primary mt-1" ng-click="addGraduation('patricia', newGradPatricia)">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveGrad(graduations)">
                                            <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-lg-8" ng-show="selected === 3">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Disciplina Positiva</h1>
                                    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="saveSection('disciplina', disciplina)">
                                        <i class="fas fa-check fa-sm text-white-50 mr-2"></i> Salvar 
                                    </a>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div id="our-story" simditor ng-model="disciplina.sectionContent" placeholder="Digite seu conteúdo..."></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>
