<div id="wrapper">
    <ng-include src="'./partials/sidebarAdmin.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin/"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item active"><span> Blog </span></li>
                </ol>
            </simple-navbar>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Todas as postagens <small>({{ postagens.length }})</small></h1>
                                    <a href="/admin/blog/postar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
                                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                        <span class="text">Criar</span>
                                    </a>
                                </div>
                                <hr>
                                <table ng-hide="postagens.length == 0" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><a href="" ng-click="ordenarPor('createdAt')">Postado em</a></th>
                                            <th><a href="" ng-click="ordenarPor('titulo')">Título da postagem</a></th>
                                            <th><a href="" ng-click="ordenarPor('status')">Status</a></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center justify-content-between" ng-repeat="postagem in postagens | filter:criterioBusca | orderBy:postagem['criterioOrdenacao.campo']:criterioOrdenacao.sentido track by postagem.id">
                                            <td>
                                                <span>{{ postagem.createdAt | date: "dd MMM yyyy" }}</span>
                                            </td>
                                            <td style="max-width: 460px;">
                                                <a href="/admin/blog/editar/{{ ::postagem.id }}">
                                                    {{ ::postagem.titulo }}
                                                </a>
                                            </td>
                                            <td>
                                                <span ng-class="postagem.status ? 'text-success' : 'text-danger'">
                                                    {{postagem.status ? 'Disponível' : 'Oculta'}}
                                                </span>
                                            </td>
                                            <td class="options justify-content-end">
                                                <a href="/admin/blog/editar/{{::postagem.id}}" role="button" alt="Editar" class="btn btn-sm btn-warning shadow-sm mr-2"
                                                     data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                    <i class="fas fa-edit fa-sm fa-fw text-grey-400"></i>
                                                </a>

                                                <button type="button" role="button"ng-click="mudarVisibilidade(postagem)" ng-show="postagem.status"  alt="Ocultar" class="btn btn-sm btn-danger shadow-sm mr-2" 
                                                data-toggle="tooltip" data-placement="bottom" title="Ocultar">
                                                    <i class="fas fa-eye-slash fa-sm  text-grey-400"></i>
                                                </button>

                                                <a href="/blog/{{ ::postagem.id }}/{{::postagem.titulo | slugify}}" ng-show="postagem.status" role="button" alt="Ver postagem" 
                                                    class="btn btn-sm btn-primary shadow-sm mr-2" data-toggle="tooltip" data-placement="top" title="Visualizar no site">
                                                    <i class="fas fa-external-link-alt fa-sm fa-fw text-grey-400"></i> 
                                                </a>
                                                
                                                <a href="" ng-click="mudarVisibilidade(postagem)" ng-hide="postagem.status" role="button" alt="Disponibilizar" class="btn btn-sm btn-success shadow-sm mr-2" 
                                                data-toggle="tooltip" data-placement="bottom" title="Disponibilizar">
                                                    <i class="fas fa-eye fa-sm  text-grey-400"></i>
                                                </a>
                                                <a href="" ng-click="excluirPostagem(postagem)" ng-hide="postagem.status" role="button" alt="Apagar postagem" class="btn btn-sm btn-danger shadow-sm mr-2" data-toggle="tooltip" data-placement="top" title="Excluir">
                                                    <i class="fas fa-trash fa-sm fa-fw text-grey-400"></i> 
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span ng-show="postagens.length == 0">
                                    Não há postagens no seu sistema!
                                    <a href="/admin/blog/postar">Poste algo agora</a>.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>