<nav class="navbar sticky-top navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100" ng-transclude></div>
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1" style="display: block;">
            <a class="nav-link dropdown-toggle" href="" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter">{{ messages.unread }}</span>
            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">Mensagens recebidas</h6>
                <a class="dropdown-item d-flex align-items-center msg" href="" ng-repeat="msg in messages.rows">
                    <div ng-class="{'font-weight-bold':!msg.msgViewed}">
                        <div class="text-truncate">{{msg.msgSubject}}</div>
                        <div class="small text-gray-600">
                            {{msg.msgSender}} · {{ msg.createdAt | date:"dd MMM yy · hh:mm"}} {{msg.msgViewed}}</div>
                    </div>
                </a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
                <span class="mx-2 d-none d-lg-inline text-gray-600">{{activeUser.userNicename}}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="" ng-click="logout()">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sair
                </a>
            </div>
        </li>
    </ul>
</nav>