<ng-include src="'partials/navbar.html'"></ng-include>

<div class="main">
    <section class="page-section pt-3">
        <div class="container">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="#/"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active"><em>Agenda</em></li>
                </ol>
            </nav>
        </div>
    </section>
    <section class="page-section eventos py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Próximos eventos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" ng-repeat="event in events" ng-show="event.eventStatus">
                <div class="card mb-4">
                    <img class="card-img shadow wow fadeIn" ng-src="http://positivetreinamentos.com.br/{{event.eventImg}}" alt="{{event.eventTitle}}">
                    <div class="card-body shadow">
                        <div class="card-title">
                            <h3>{{event.eventTitle}}</h3>
                        </div>
                        <div class="data">
                            <span class="dia">{{event.eventDateStart | date:'dd'}}
                                <span ng-hide="event.eventDateStart === event.eventDateEnd"> e {{event.eventDateEnd | date:'dd'}}</span>
                            </span>
                            <span class="mes">{{event.eventDateStart | date:'MMMM'}}</span>
                        </div>
                        <div class="descricao">
                            <div ng-bind-html="event.eventContent"></div>
                            
                            
                        </div>
                        <div class="detalhe">
                            <a href="/agenda/{{event.eventId}}/{{event.eventTitle | slugify}}" class="btn btn-primary btn-md btn-block">
                                <span>ler mais</span><i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
