<ng-include src="'partials/navbar.html'"></ng-include>

<div class="main">
    <section class="page-section pt-3 mb-5">
        <div class="container">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="index.html">Início</a></li>
                    <li class="breadcrumb-item active"><em> Quem somos </em></li>
                </ol>
            </nav>
        </div>
    </section>      

    <section class="home-section historia pb-5 mb-5" id="historia">
        <div class="container">
            <div class="row flex-column-reverse flex-md-row">
                <div class="col-lg-12">
                    <img id="caricatura-familia" src="./img/caricaturas/familias.png" alt="" class="img-fluid">
                    <div id="historia-text" class="bg-primary text-center transform">
                        <div class="d-flex">
                            <div class="transform-text w-100 text-center text-lg-left">
                                <h2 class="section-title">Nossa história</h2>
                                <p class="wow fadeInUp" data-wow-delay=".1s">A Positive Treinamentos surgiu com  ideias do casal Rafael e Patrícia, que, por possuírem seus maiores valores voltados para a Família, oferecem um trabalho de desenvolvimento pessoal com pais, casais, jovens e escolas.</p>
                                <p class="wow fadeInUp" data-wow-delay=".2s">Sempre trabalhando na área empresarial, percebemos a necessidade que muitas pessoas possuem de melhorar o seu relacionamento familiar, onde muitas vezes, por estarem em conflitos com família, dificuldade de lidar com filhos, escola, profissionais muito bons e competentes não conseguiam ser produtivos e não desempenhavam seus papéis como gostariam.</p>
                                <p class="wow fadeInUp" data-wow-delay=".3s">Entendemos a necessidade de nos atualizarmos sempre no âmbito profissional e acreditamos que a família é a base para nossa vida e nosso relacionamento, com isso precisamos estar conectados, em harmonia e realizados no segmento familiar para estarmos mais preparados e termos sucessos nos negócios.</p>
                                <p class="wow fadeInUp" data-wow-delay=".4s">A escola é a segunda casa de nossos filhos e é imprescindível que ela seja um ambiente agradável, respeitoso e encorajador, além de ser responsável pela educação e produção de conhecimentos que levarão as crianças e jovens para a preparação profissional e para a vida.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section quem-somos my-5 pt-5" id="quem-somos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center mb-5 mx-auto">
                    <h2 class="section-title">Quem somos</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="colaborador wow fadeInUp shadow" data-wow-delay=".2s">
                        <img src="./img/fotos/rafael.jpg" class="img-fluid rounded-circle shadow mx-auto d-block wow zoomIn" data-wow-delay=".5s" alt="">
                        <div class="team-hover">
                            <h3>Rafael Barbosa</h3>
                            <ul class="p-3 text-justify">
                                <li>Esposo da Patrícia;</li>
                                <li>Pai da Alícia e da Lavínia;</li>
                                <li>Administrador de Empresas com MBA em Gestão Comercial e Inteligência de Mercado;</li>
                                <li>Practitioner em Programação Neurolinguística;</li>
                                <li>Professional & Self Coach;</li>
                                <li>Treinador Comportamental; </li>
                                <li>Especialista em Inteligência Emocional (SBIE). </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="colaborador shadow wow fadeInUp" data-wow-delay=".2s">
                        <img src="./img/fotos/patricia.jpg" class="img-fluid rounded-circle shadow mx-auto d-block wow zoomIn" data-wow-delay=".5s" alt="">
                        <div class="team-hover">
                            <h3>Patrícia Carvalho</h3>
                            <ul class="p-3 text-justify">
                                <li>Esposa do Rafael;</li>
                                <li>Mãe da Alícia e da Lavínia;</li>
                                <li>Administradora de Empresas com MBA em Gestão Empresarial, Gestão de Projetos, Finanças Corporativas e Gestão de Pessoas com Coaching;</li>
                                <li>Master Practitioner em Programação Neurolinguística (INEXH);</li>
                                <li>Consteladora Sistêmica Integrativa (IBC);</li>
                                <li>Treinadora Comportamental (IFT);</li>
                                <li>Master Coach (IBC) para Pais, Adolescentes e Escolar (Parent Coaching);</li>
                                <li>Especialista em Inteligência Emocional (SBIE);</li>
                                <li>Educadora para Pais, Professores, Escolas e Empresas em Disciplina Positiva pela PDA (USA).</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-include src="'partials/footer.html'"></ng-include>

<style type="text/css">
    #caricatura-familia {
        position: relative;width: 100%;left: 10px;top: -220px;z-index: 10;
    }
    #historia-text {
        position: absolute; z-index: 30; top: 420px;
    }
    @media (max-width: 768px) {
        #caricatura-familia {
            top: -120px;
        }
        #historia-text {
            top: 120px;
        }
        #quem-somos {
            padding-top: 700px !important;
        }

    }

</style>