<div id="wrapper">
    <ng-include src="'./partials/sidebarAdmin.html'"></ng-include>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <simple-navbar>
                <ol class="breadcrumb m-0 align-items-end">
                    <li class="breadcrumb-item"><a class="mt-auto" href="/admin/"><i class="fas fa-fw fa-tachometer-alt"></i></a></li>
                    <li class="breadcrumb-item active"><span> Usuários </span></li>
                </ol>
            </simple-navbar>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Todos os usuários <small>({{ usuarios.length }})</small></h1>
                                    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
                                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                                        <span class="text">Criar um novo</span>
                                    </a>
                                </div>
                                <hr>
                                <table ng-hide="usuarios.length == 0" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><a href="" ng-click="ordenarPor('createdAt')">Criado em</a></th>
                                            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                                            <th><a href="" ng-click="ordenarPor('email')">E-mail</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center justify-content-between" ng-repeat="usuario in usuarios | orderBy:usuario.nome" ng-click="selecionarUsuario(usuario)">
                                            <td>
                                                <span>{{ usuario.createdAt | date: "dd MMM yyyy" }}</span>
                                            </td>
                                            <td style="max-width: 460px;">
                                                <a href="" ng-click="selecionarUsuario(usuario)">
                                                    {{ usuario.nome }}
                                                </a>
                                            </td>
                                            <td>
                                                {{usuario.email}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow mb-4" ng-show="usuarioSelecionado">
                            <div class="card-body">
                                <div class="d-flex justify-content-between small">
                                <span class="font-weight-bold">Nome</span>
                                <span>{{ usuarioSelecionado.nome }}</span>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between small">
                                <span class="font-weight-bold">E-mail</span>
                                <span>{{usuarioSelecionado.email}}</span>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between small">
                                <span class="font-weight-bold">Notificações por email</span>
                                <span ng-show="usuarioSelecionado.notificacoes" class="text-success">Ativado</span>
                                <span ng-hide="usuarioSelecionado.notificacoes" class="text-danger">Desativado</span>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between small">
                                <span class="font-weight-bold">Criado em</span>
                                <span>{{ usuarioSelecionado.createdAt | date:"dd MMM yyyy"}}</span>
                                </div>
                                </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="flex-shrink: none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                <span>Copyright © Positive Treinamentos 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>