<simple-navbar>
    <ol class="breadcrumb m-0 align-items-end">
        <li class="breadcrumb-item"><a class="mt-auto" href="/admin">Painel</a></li>
    </ol>
</simple-navbar>
<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Página não encontrada</p>
        <p class="text-gray-500 mb-0">O conteúdo que você busca está indisponível no momento.</p>
        <a href="/admin/blog">&larr; Voltar ao Painel</a>
    </div>
</div>