<footer class="footer-section bg-white">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row pt-5 mt-5 text-center">
            <div class="col-12 col-md-6">
                <img class="img-fluid pb-3" src="./img/associacao.png" style="max-height: 150px;border-radius: 0;">
            </div>
            <div class="col-12 col-md-6">
              <ul class="list-unstyled footer-menu pt-2">
                    <li>
                        <a class="nav-link" href="/quem-somos">Quem somos</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/transformacoes-positive">Transformações Positive</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/agenda">Agenda</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/disciplina-positiva">Disciplina Positiva</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/depoimentos">Depoimentos</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/contato">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pt-5 w-100 text-center">
                    <p>Copyright © Positive Treinamentos 2020.
                        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                        Todos os direitos reservados. Desenvolvido por Matheus Ataide.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</footer>