<style>
    .navbar-light .navbar-nav .nav-link {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
</style>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="./">
            <img src="./img/logo/logo-horizontal2.png" alt="Positive Treinamentos">
        </a>
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/quem-somos">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transformacoes-positive">Transformações Positive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disciplina-positiva">Disciplina Positiva<span class="sr-only">(atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/depoimentos">Depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="https://api.whatsapp.com/send?phone=5582999395433" class="btn btn-link btn-md" style="color: #4cd8b1 !important;"><i class="fab fa-whatsapp-square fa-2x"></i></a>
                <a href="https://www.instagram.com/positivetreinamentos" class="btn btn-link btn-md" style="color: #4cd8b1 !important;"><i class="fab fa-instagram-square fa-2x"></i></a>
            </span>
        </div>
    </div>
</nav>