
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon">
			<img src="./img/logo/logo-horizontal-opcional2.png" alt="Positive Treinamentos" class="img-fluid">
		</div>
	</a>
	
	<li class="nav-item">
		<a class="nav-link" href="/admin">
			<i class="fas fa-fw fa-tachometer-alt mr-2"></i>
			<span>Painel</span>
		</a>
	</li>
	
	<hr class="sidebar-divider">
	
	<div class="sidebar-heading mb-2">Conteúdo</div>
	
	<li class="nav-item">
		<a class="nav-link" href="/admin/agenda">
			<i class="far fa-fw fa-calendar-alt mr-2"></i>
			<span>Agenda</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/admin/blog">
			<i class="fas fa-fw fa-rss  mr-2"></i>
			<span>Blog</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/admin/depoimentos">
			<i class="fas fa-comments mr-2"></i>
			<span>Depoimentos</span>
		</a>
	</li>
	<!--<li class="nav-item">
		<a class="nav-link" href="/admin/paginas">
			<i class="fas fa-fw fa-sitemap  mr-2"></i>
			<span>Seções estáticas</span>
		</a>
	</li>-->

	<hr class="sidebar-divider">
	
	<div class="sidebar-heading mb-2">Administrar</div>
	<li class="nav-item">
		<a class="nav-link" href="/admin/mensagens">
			<i class="fas fa-fw fa-envelope  mr-2"></i>
			<span>Mensagens</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/admin/usuarios">
			<i class="fas fa-users mr-2"></i>
			<span>Usuários</span>
		</a>
	</li>
</ul>